[2016-02-06 20:05] Sigmanor opened #2 "More info"
Where can I read more information about how to use it? When I'm using example from the readme, I got this error:

`Uncaught TypeError: Cannot read property 'getPath' of undefined`

[2016-02-06 23:09] nathanbuchar commented on #2
I suspect you're using a version of Electron that is [`v0.34.0`](http://electron.atom.io/docs/v0.34.0/api/app/) or older. `electron-settings` only supports v0.35.0 and up.

The problem likely comes from [line 76](https://github.com/nathanbuchar/electron-settings/blob/master/lib/settings.js#L76) where we use `app` to get the path to the user's appData directory.

In [`v0.35.0`](http://electron.atom

[2016-02-07 09:09] Sigmanor commented on #2
Aww yes... Im using old version v0.33.3 Now I'm trying build my app with latest v0.36.7 Thank you for the explanation!

[2016-02-07 09:09] #2 closed

[2016-02-07 09:39] nathanbuchar commented on #2
Great! I've been working all day on rewriting `electron-settings`. Lots of great new features :)

[2016-02-15 19:28] Sigmanor opened #5 "If key is exist"
Is there any way to check if key is exist and if not then create it? Because if I using this
[code]
To get this parameters from `settings.json`:
![screenshot](http://i.imgur.com/Ucyl5KP.png)

And if this parameter is not exist I get an error:
![screenshot](http://i.imgur.com/ikJGSua.png)

[2016-02-16 09:15] Sigmanor opened #6 "Config path"
Using this code:
[code]
in main process create **settings.json** in `C:\Users\MyUsername\AppData\Roaming\MyAppName\electron-settings`. And when I use this code in renderer process file does not create there. Using: `console.log(settings.get('foo'));` I get result `bar` but I can not figure out where is the config file. Using `console.log(settings.getconfigfilepath());` throw error `Uncaught TypeEr

[2016-02-23 01:30] nathanbuchar commented on #6
Use `settings.getConfigFilePath()`. Capitalization is important!

Does this help? Sorry for the delay, for some reason I wasn't notified of this issue being posted.

[2016-02-23 01:36] nathanbuchar commented on #5
Adding an `.exists()` method might be a good idea. Take the following example implementation for example:

[code]

Additionally, I can add an option to `.get` allowing you to create the item if it does not exist:

[code]

Or something like that.

Definitely something to think about for future releases. Thanks for the tip!

[2016-02-23 01:48] nathanbuchar commented on #6
I just checked and I accidentally wrote the method wrong in the docs! Perhaps I should follow my own advice :-) I will fix this tonight

[2016-02-23 04:02] #6 closed

[2016-03-12 11:31] florian opened #8 "Default settings"
Are there any plans to add something like default settings? I'd guess that pretty much every app that has settings would need this.

It should work something like this: When initializing electron-settings (`new ElectronSettings`) an object with default settings can be passed. If there's no settings file so far, the default settings will be set. And there could be helper methods like resetting the

[2016-03-12 11:55] florian opened #9 "config file path is wrong in the rendering process"
In the main process `settings.getConfigFilePath()` is `/Users/florian/Library/Application Support/MYAPPNAME/electron-settings/settings.json`. In the renderer process (web page) it's `/Users/florian/Dropbox/code/MYAPPNAME/node_modules/electron-settings/lib/electron-settings/settings.json`.

I suppose this is because `require('app').getPath('userData')` doesn't work in the web page, so the library p

[2016-03-12 21:11] nathanbuchar commented on #9
Interesting, I should add a note to the README that this package should be used outside of the render process. Can't say I've ever used it within the render process, so I've never come across this, so thanks for bringing it to my attention.

I have a busy week, but I'll look into this is soon as I have some free time.

Thanks :-)

[2016-03-12 22:21] thranur commented on #5
I also want a similar feature, but I usually go for something such as `getOrDefault(key, def)`, which is roughly equivalent to:

[code]

It's sometimes easier to read the code when the default value is right next to its usage.

Anyway, it would be nice to have something like that as part of the default API.

[2016-03-13 10:30] florian commented on #9
Why is that though? I think it really makes the library a lot less useful.
I'd like to separate the logic of handling those settings (main process) with the UI for the user to change those settings (renderer process).

Currently it's possible to still use the same settings file in the renderer process by doing this:
[code]

However those settings won't be in sync with all the `ElectronSettings` in

[2016-04-05 22:07] #9 closed

[2016-04-05 22:07] nathanbuchar commented on #9
This should be fixed now in 1.0.3 :)

[2016-04-14 15:10] theflow opened #11 "More lenient peerDependencies?"
Was trying to upgrade to the newest electron release (0.37.5) and got this:

[code]

would it make sense to allow a greater range of versions?

[2016-04-14 21:52] nathanbuchar commented on #11
You're right, this was an oversight. In fact I'll remove the peer dependency altogether, it feels a bit redundant

Thanks for flagging :)

[2016-04-14 22:49] #11 closed

[2016-07-11 07:45] cH40z-Lord commented on #8
It's now super trivial with the new `create` event to implement default settings. Actually it was the reason why I contributed it since I was facing the very same problem :)

Just add a new event handler for the `create` event and then set the values you need.

[2016-07-11 18:16] nathanbuchar commented on #8
Looks like you might have missed my comment on one of your PRs—I asked if you'd like to add your name to the contributors in the `package.json` and `README`; I was waiting until then to push a new version. See [here](https://github.com/nathanbuchar/electron-settings/pull/15#issuecomment-231607245)

And as far as "defaults" implementation, I was picturing something along the lines of

[code]

Just

[2016-07-11 18:20] florian commented on #8
It's nice, but I agree that there should also be a way to explicitly declare default settings. For example if I update my app and change the default settings and a user never changed a setting (i.e. they have the default settings), I might want him to get the updated default settings. This wouldn't work with the event and would require extra logic.

[2016-07-11 18:43] nathanbuchar commented on #8
In theory, this should be easy to implement. I'll see if I can add it in tonight :) Sorry I've been a bit slow

[2016-07-11 18:46] florian commented on #8
No worries :)

I think the important thing about the implementation is that the default settings shouldn't be saved to disk. If I try to retrieve a setting, the library should first look if a value for that setting was written to disk. If not, it should be checked if there's a default setting available.

This way the library would always return the 'newest' default setting if they were updated.

[2016-07-11 19:06] nathanbuchar commented on #8
I was just thinking of doing an Object.assign (and saving to disk). See examples below

***

#### Case 1: No config file exists

**main.js**
[code]

**settings.json**
[code]

#### Case 2: A config file already exists

**settings.json**
[code]

**main.js**
[code]

**NEW settings.json**
[code]

Notice how `"snap"` was not altered because a value was already present

[2016-07-12 17:04] nathanbuchar commented on #5
A `.has(keyPath)` method has been added in 2.0.0 (unreleased). Example usage below:

[code]

[2016-07-12 17:04] #5 closed

[2016-07-12 17:06] nathanbuchar opened #18 "Remove Keypath Watchers"
The keypath watcher functionality adds unnecessary weight and dependencies to the package. In an effort to streamline and simplify, keypath watchers will be removed or drastically simplified in 2.0.0.

If you have any concerns, let me know!

[2016-07-16 16:52] dzava opened #20 "Cannot assign handler for the create event"
Catching the create event is not possible currently. The event is emitted when a new instance is created but the handler has to be assigned on that instance after it is created.

[2016-07-17 21:28] wmhilton commented on #18
What's the replacement / way to get equivalent functionality? I was about to report a bug in `.watch` but if you're removing it...

I guess the solution to both would be, how do I set up functions to listen to changes to the settings?

[2016-07-17 21:34] wmhilton opened #21 "Multiple calls to `settings.watch('foo')` overwrite callbacks"
I have two files, both wanting to listen to changes in the 'foo' setting. However multiple "watch" calls with the same keypath overwrite each other.

[code]

Figured I might as well report it in case others noticed it, even though you are planning to drop `watch` entirely?

[2016-07-17 22:07] wmhilton opened #23 "Booleans set to `false` do not appear"
Test case:
[code]

Output:
[code]

Expected output:
[code]

It's probably a result of the `if (thingy)` style checks [in _parseDifferences](https://github.com/nathanbuchar/electron-settings/blob/master/lib/settings.js#L459) and could be fixed by using the infamously verbose `if (typeof thingy !== "undefined" && thingy !== null)` style check.

[2016-07-18 04:40] nathanbuchar commented on #21
I discovered this just a few days when writing for v2.0 – this has been fixed and will be published along with the v2 release. I'll let you know when it's live!

Thanks!

[2016-07-18 04:41] nathanbuchar commented on #23
You're probably right. I'll take a looksie

[2016-07-18 04:43] nathanbuchar commented on #18
I still plan on having a `.observe` or `.watch` event, however the return value will not be a complicated object using `deep-diff`, instead I plan on just sending `event.oldValue` and `event.newValue`. This is how Atom's internal config manager works, and I'm taking queues from their work. Back when I created key path watchers, they didn't have watch functionality, to my knowledge

[2016-07-18 04:45] nathanbuchar commented on #20
Yes, I noticed this when writing for v2. Being that the file is created when ElectronSettings is instantiated, it is impossible to tie into the event. Will likely be removed in v2, or perhaps I'll find some way to tie it in

Thanks for flagging!

[2016-07-18 04:45] #20 closed

[2016-07-18 15:36] wmhilton commented on #18
Oooh, I didn't see there was a 2.0 branch... oops. Humble suggestion, I've used [EventEmitter2](https://www.npmjs.com/package/eventemitter2) in the past, and it supports "subscribing" with wildcards and events with namespaces. Inside the settings module, changes could broadcast an event with the keypath name

    settings.emit('change.' + keyPath, newValue)

This conveniently doesn't interfere wit

[2016-07-26 17:12] nickdima opened #26 "Where can it be used"
Does it work both on main and renderer?

[2016-07-26 17:59] nathanbuchar commented on #26
Yessir! Just remember that ElectronSettings should be treated as a singleton, which is to say that only one instance should exist. Once you instantiate it you will only want to maintain a single copy – you should not create a new ElectronSettings instance within every module. More than one instance means that the disparate caches become forked and you will likely suffer data loss or corruption. Th

[2016-07-27 13:39] nickdima commented on #26
I have multiple windows that need to read the settings. I have created the `settings.js` file like in your example and I'm requiring it from both windows but the thing is that if I update a setting from one window when I read it in the other I don't get the updated value (unless I close and reopen this window).

[2016-07-27 16:47] nathanbuchar commented on #26
Interesting, I'll take a look

[2016-07-27 16:50] nickdima commented on #26
By looking at the code it seems that there's no way around it unless `.get()` would read directly from the disk, because of the separate contexts of each page. No?

[2016-08-01 01:16] nathanbuchar commented on #26
v2 will be released sometime between now and the next few days and no longer employs debounced save requests, and instead is a promise-based system. This should solve the issue :)

**Async**
[code]

**Sync**
[code]

[2016-08-01 01:16] #26 closed

[2016-08-01 01:19] nathanbuchar commented on #23
No longer an issue in v2, as key path observers have been drastically simplified to:

Given:
[code]

Observe `"foo"`.
[code]

[2016-08-01 01:19] #23 closed

[2016-08-01 01:19] #18 closed

[2016-08-01 01:20] #21 closed

[2016-08-01 01:21] nathanbuchar commented on #8
This is now supported in v2.

[code]

[2016-08-01 01:23] #8 closed

[2016-08-02 09:25] thardes2 opened #31 "Syntax error in docs/methods"
There is a syntax error in the docs/methods file for the observe-method:
[code]

It should be
`settings.observe('foo', evt => {`
and
`const observer = settings.observe('foo', evt => {`

(the , is missing)

[2016-08-02 16:34] nathanbuchar commented on #31
Whoopsie :) thanks for flagging I'll take care of this tonight

[2016-08-03 06:43] #31 closed

[2016-08-09 10:55] el-davo opened #33 "Getting error when try to save settings"
Hi

I keep getting this error when trying to save settings.

[code]

[code]

It seems to be happening at this location in key-path-helpers module

https://github.com/atom/key-path-helpers/blob/master/lib/key-path-helpers.js#L31

[2016-08-09 16:51] nathanbuchar commented on #33
Super weird. Thanks for tagging, I will take a look at this as soon as possible

[2016-08-09 16:59] nathanbuchar commented on #33
I'm running a test for this exact case and it's not failing. Here is the test:

[code]

So everything is working as expected. What version of electron-settings are you using? And can I see how you're using the code in context?

[2016-08-16 08:31] xdvarpunen opened #34 "Settings file in Windows"
Hi,

For Machine-wide installation is it possible to change the settings file location so all the users would have same settings? Can I make change for new settings? (:

-XDVarpunen

[2016-08-16 08:35] xdvarpunen commented on #34
Actually this happens automatically

[2016-08-16 08:35] #34 closed

[2016-08-16 14:13] nathanbuchar commented on #34
✌

[2016-08-20 04:57] N0taN3rd opened #35 "Option to specify save location"
In version 1.1.1 the ability to choose the location and directory name of the settings file was configurable via ```configDirPath``` when creating the settings object.
This ability was extremely helpful for development purposes and specifying application specific storage locations as well as  renaming from defaults.
Utility gained from having this option was crucial when choosing a setting manager

[2016-08-20 17:11] nathanbuchar commented on #35
Yes I intend to add it back in using the `configure()` method :)

[2016-08-24 22:50] thalesrodolfo commented on #33
I'm having the same problem :(

version:

import of electron-settings:

`const settings = require('electron-settings')`

calling the method to handle the saving:

`<button type="button" name="button" @click="testeConfig()">Salvar Config</button>`

the method:
[code]

console output:
[code]

[2016-08-24 22:59] nathanbuchar commented on #33
Thanks for your info and reproduction steps. I'll take a look as soon as I can and see if I can find the root of the problem

[2016-09-01 00:51] #35 closed

[2016-09-01 01:06] nathanbuchar commented on #35
v2.2.0 has the option to configure the instance with `settingsDir` and `settingsFileName`.

I chose not to add these options to the documentation for now, however. But they're there if you need them

[code]

[2016-09-01 03:02] N0taN3rd commented on #35
@nathanbuchar That is so awesome thank you!!
Once again thanks for creating electron-settings.

[2016-09-02 13:21] McPo opened #37 "splitKeyPath undefined"
It appears that there is an issue with one of the libraries used within this project. I submitted a PR regarding this to the upstream project but they don't seem that responsive.

Would you be willing to change the key-path-helper dependency to the git url of my pull request until they merge it in.

https://github.com/atom/key-path-helpers/pull/2

Thanks,
Emmet

(Im surprise no one else is running

[2016-09-02 16:48] nathanbuchar commented on #37
Yeah, I don't know if this is an issue with their library, or possibly electron-settings is passing in an undefined value to be split which is causing the error. I'm still trying to track it down

See #33

[2016-09-02 17:10] nathanbuchar commented on #37
If you could show me your electron-settings debug output, that would be extremely helpful.

Enter this into your terminal `export DEBUG="electron-settings:*"` then start your Electron app (from the same Terminal window).

[2016-09-05 15:30] JohnnyCrazy commented on #37
@nathanbuchar
This is definetly an issue with their library, applying @McPo's fix works, but sadly didn't get merged yet. (Already a month old)

Since you can't reproduce this, are you transpiling your `node_modules`? It's very weird because the error pretty much happens in any case when installing this lib.

Would you mind changing your `key-path-helper`-dependency to his PR-Url for the time the

[2016-09-05 15:43] JohnnyCrazy opened #38 "Transpiling to ES5"
Hi,

It would be nice if this library would be transpiled to ES5 (in a folder like `/dist`) using something like babel before getting pushed to git/NPM.
It's not standard to require the user to transpile stuff installed to `node_modules`, and without transpiling, it could raise some errors when trying to use this code with specific webpack/grunt/gulp plugins.

**My use-case**
I'm using this togeth

[2016-09-05 22:47] nathanbuchar commented on #38
Hey @JohnnyCrazy,

Thanks for trying Electron-Settings! However, Node 6 and up is [almost entirely ES6 compliant](http://node.green); This module is specifically built for Electron, and if the transpiler you're using does not support the base technology that Electron is built on then there's probably something wrong with using the transpiler.

Forgive me if I'm wrong, but isn't Webpack designed to

[2016-09-05 22:50] nathanbuchar commented on #37
@JohnnyCrazy perhaps you're running an older version of Node/Electron that does not support newer syntax. What version of Electron are you running your applications with?

[2016-09-05 23:39] JohnnyCrazy commented on #38
While it's true Node 6 supports it, this is more like following a specific standard. Looking at the list of [electron tools](http://electron.atom.io/community/), everyone of them uses some kind of transpiler to ensure compatibility. However, I'm just a single user out of 100s. So no problem if you don't want to go that way, I will just have to figure out another way :)

Well, what do you mostly do

[2016-09-05 23:42] JohnnyCrazy commented on #37
@nathanbuchar Everything is up-to-date, electron 1.3.5, node 6.5.0.

I just checked with a simple `electron-getting-started`-app, and it seems to work there. My guess, I'm using WebPack to serve the files, and it seems like it's not served the same way electron would (It's sending the JS-Files over the line using a local running web-server). But since it's working with the default setup, guess the

[2016-09-06 22:04] McPo commented on #37
It looks like this may be related to transpliing #38 .
Ive added some more notes to that issue as to how to obtain a transpiled version.

[2016-09-06 22:06] McPo commented on #38
I too am using webpack, as @nathanbuchar stated Im doubtful with regards to what purpose it serves in an electron application (I originally forked my project from electron-react-boilerplate which was setup to use webpack, and honestly its been a bane).

Just add the following line to your package.json to use my transpiled version
[code]

Building the project should work on OSX and Linux, you may h

[2016-09-07 07:27] nathanbuchar commented on #38
Thanks for the info! I'd be willing to try to find a common solution. The problem lies with the Atom key-path-helpers package, is that correct? In electron-settings v1—before key-path-helpers existed as a standalone module—I rewrote them locally and never had any issues regarding transpiling. I'd be fine with pulling them into a local file if that solves the problem, just need to know that that is

[2016-09-07 07:28] nathanbuchar commented on #37
Closing in lieu of #38

[2016-09-07 07:28] #37 closed

[2016-09-07 07:29] nathanbuchar commented on #33
This is an issue regarding transpiling from ES6. Moving conversation to #38

[2016-09-07 07:29] #33 closed

[2016-09-07 09:11] McPo commented on #38
Yeah in order to resolve the issue key-path-helpers and electron-settings would need to be transpiled. The easiest way would be to have a local copy of key-path-helpers and then just transpile electron-settings (Its straight forward to do).

I was originally gonna suggest you do that, however considering the electron team doesn't feel the need to transpile key-path-helpers, it shouldn't fall on yo

[2016-10-20 01:53] EllisShen opened #41 "Is there a way to un-register the Event?"
A quick question. I'm registering a callback of "Write" event in a ReactJs component. I'm wondering is there any way to unregister it, so that I can avoid the duplicate callback when the component has been unmounted.

Like below sample code:

[code]

[2016-10-20 04:53] nathanbuchar commented on #41
ElectronSettings inherits from the native Node [`events.EventEmitter`](https://nodejs.org/api/events.html#events_class_eventemitter) class.

If you can use [`settings.once`](https://nodejs.org/api/events.html#events_emitter_once_eventname_listener), although I wouldn't recommend this because it may also negatively affect `"write"` handlers elsewhere in your code. Actually, come to think of it, the

[2016-10-31 15:35] EllisShen commented on #41
Thank you @nathanbuchar! IT's very helpful. Sorry for my late reply.

[2016-10-31 17:42] #41 closed

[2016-11-06 03:05] aj-ptw commented on #38
Any progress on this? Can't use `import settings from 'electron-settings'` or `const settings = require('electron-settings')`

Using https://github.com/chentsulin/electron-react-boilerplate so very easy to duplicate the problem @nathanbuchar

[2016-11-06 03:12] aj-ptw commented on #38
Do you think this error:
[code]
is from `electron-settings` not being transpiled.

[2016-11-06 09:04] McPo commented on #38
In the end I came across a few other projects that hadn't been transpiled before publishing, and their maintainers were less than helpful (Were adamant they shouldn't have to transpile before publishing, despite it being recommended by npm)

So I needn't to come up with a solution to sort all the projects at once.

Within webpack.base.config you'll notice that Babel is stated to ignore this node_m

[2016-11-06 20:31] aj-ptw commented on #38
@McPo are you saying that npm package publishers should be transposing down to ES5 before `npm publish`? I make a module and am not doing that!!

[2016-11-07 00:13] McPo commented on #38
@aj-ptw Im not sure whether "am not doing that!!" was meant as "Im not doing it and I don't intend on doing that!", or "Im not doing that, should I be doing that?".

Also to clarify the post I made above was supposed to be in response to you, so that should (hopefully) resolve your issue. (If it doesn't, upload your webpack config files so I can take a look)

If your wondering why I stated that tr

[2016-11-07 00:42] aj-ptw commented on #38
@McPo it was for sure "Im not doing that, should I be doing that?" haha

I guess my module, [`openbci`](https://github.com/OpenBCI/OpenBCI_NodeJS), is meant to be run on the backend.

I'm still getting pretty terrible errors this repo thought:
[code]

[2016-11-07 01:19] McPo commented on #38
try

Option 1:

[code]

Option 2:

If that fails to work, change electron-settings in your package.json to

[code]

This is my fork which includes electron-settings pre-transpiled and a patch to one of its dependencies. (It also has encryption, although if you don't set a key, it won't affect you). Its also a bit older than master (I think its missing the ability to set the Settings filename path,

[2016-11-10 16:31] stursby opened #43 "Reset defaults on specific settings?"
Is it possible to reset only _some_ settings to defaults?

Say I have the following:

[code]

At some point I set `person.active` to `true`. But on App Quit, I'd like to reset `settings.person`, while keeping `settings.foo` the same. Is this possible?

I'm trying to reset _some_ settings back to defaults on App Quit, so if there's a better way of doing, please let me know!

[2016-11-10 17:51] nathanbuchar commented on #43
Good question, I'm surprised this isn't a thing! I had to go back into my own method docs just to make sure. I think I had planned to add a `reset` method but I guess slipped my mind!

I'll add this to my to-do list :)

[2016-11-10 18:05] stursby commented on #43
@nathanbuchar Ok! Yea, I was digging through all the methods to see if one fit the bill.

I think it would be great to be able to pass a String to `reset`, like so:

[code]

Something along those lines?

[2016-12-02 17:37] tonioloewald commented on #43
settings.defaults() should automatically write undefined settings, otherwise adding a new settings breaks existing users and the only solution is to wrap everything in get/set promises which is horrible.

settings.defaults should write to a defaults object which is consulted by any get which turns up empty-handed.

[2016-12-05 15:25] black-snow opened #45 "npm test fails"
This is what happens when I run `npm test`:

[code]

mac OS X yosemite

[2016-12-05 15:30] black-snow opened #46 "Cannot read property 'app' of undefined"
Having the following error on OS X yosemite (not under windows):

[code]

This is my code:

[code]

Fails right at the import ... electron 1.4.10
Weird error - seems like your module isn't seeing electron at all.

[2016-12-05 15:44] black-snow commented on #46
Weird, seems to be an issue w/ the terminal plugin I use - works with another one.

[2016-12-05 15:44] #46 closed

[2016-12-07 11:34] black-snow opened #47 "lazy load userData path"
Hi there,

I'm using *electron-settings* in the main process as well as in renderers (which works fine so far). But I'm also setting the `userData` path (`electron.app.setPath('userData', ...)`). For *electron-settings* is fetching the path at import time it's missing the path change.

In my main process I do:

[code]

But then, when I import *electron-settings* in the renderer the new path will b

[2016-12-07 11:38] black-snow commented on #47
Looking at the code I see that I can `configure()` the path - should be mentioned in the docs (they only state `atomicSaving` and `prettyfy`).

[2016-12-07 11:44] black-snow commented on #47
I've filed a PR (https://github.com/nathanbuchar/electron-settings/pull/48)

Can't see what `overwrite` is good for. Ain't seem to be used.

[2016-12-18 07:25] nathanbuchar commented on #45
Which version of Electron are you using?

[2016-12-21 09:14] k7sleeper opened #50 "Set all settings at once"
Calling `settings.get()` you get all settings.
Calling `settings.set(null, config)` throws an error.

What do I have to do to store all (possibly changed) config values?

[2017-01-19 15:51] patleeman commented on #38
Option 1 worked perfectly for my project.  I'm using electron-vue boilerplate as well and this solved the problem.

[2017-02-06 00:11] maczikasz opened #52 "Calling set on read-only file causes, then electron-settings is stuck"
If I make my Settings.json read only (or is held by another process) and try to set it by calling set, the then is never called and there is no error callback.

If I set it with setSync then it progresses but the file is not changed (as it is normal) but there is no error raised

[2017-02-18 01:04] z2oh commented on #50
I implemented this [on a fork here](https://github.com/z2oh/electron-settings/commit/8de338fdedae3bbd16fa76eac303e3ce267c1113). If @nathanbuchar wants to take a look at it, I would be happy to format to fit his style better and then add tests and open a pull request.

Passing a falsey value for set isn't really the clearest functionality, but the hacky method I was using before (clearing the setti

[2017-03-06 19:06] NoahAndrews opened #53 "Calling defaults() should set the default setting for any settings that don't yet exist"
Right now, if an application adds a new setting, I believe you would need to manually detect whether or not it exists, and then set its default. This should all be taken care of when you call `defaults()`.

[2017-03-16 14:22] centogram opened #54 "Parallel .set calls can erase previous settings"
In my app I noticed that if we attempt to write to the settings at the same time from different places it would often blow away the entire settings file to empty only saving the latest .set call.   To resolve this we wrapped this into a Storage service and did something along the following so we knew it wasn't not in the middle of a .set call:

[code]

[2017-03-17 03:24] nathanbuchar commented on #54
`.set()` is an asynchronous call. Try using `.setSync()` :-)

[2017-03-20 11:47] McPo opened #55 "Atomic Saving causes EPERM on Windows"
Upon first launching an application several settings are saved. However on windows I regularly encounter the issue of settings not saving correctly, the following is printed in the logs.

[code]

I can switch off atomic saving, however Im wondering whether the atomic saving option was added due to a real occurring issue or was it added out of caution? (If so, is there a specific use case I should

[2017-03-20 22:34] nathanbuchar commented on #55
Can't remember what originally gave me the idea—I think it was from a PR to add functionality and I thought it was a good option so I added it in V2.

I wouldn't say the project is currently deprecated, I just have not been keeping up to date with it lately as my interests lie elsewhere at this time. I may open it back up and build a dramatically simplified V3 version, as one of my gripes with thi

[2017-03-29 05:38] nathanbuchar commented on #55
Electron-settings v3.0.0 released; removed atomic saving option, as saving is no longer asynchronous.

[2017-03-29 05:38] #55 closed

[2017-03-29 05:38] #54 closed

[2017-03-29 05:39] nathanbuchar commented on #53
Electron-settings v3.0.0 released.

`defaults()` and the like were removed in an effort to simplify the project. But `get(keyPath, defaultValue)` is now a thing!

[2017-03-29 05:39] #53 closed

[2017-03-29 05:43] nathanbuchar commented on #52
Electron-settings v3.0.0 released—should no longer be an issue.

[2017-03-29 05:43] #52 closed

[2017-03-29 05:43] nathanbuchar commented on #50
Electron-settings v3.0.0 released; You can now do this with `setAll()` :)

[2017-03-29 05:43] #50 closed

[2017-03-29 05:43] nathanbuchar commented on #45
Electron-settings v3.0.0 released

[2017-03-29 05:43] #45 closed

[2017-03-29 05:45] nathanbuchar commented on #43
Electron-settings v3.0.0 released.

`defaults()` and the like were removed in an effort to simplify the project

[2017-03-29 05:45] #43 closed

[2017-03-29 06:05] nathanbuchar commented on #38
Electron-settings v3.0.0 released. Drastically simplified, and all the key-path-helpers are rewritten and kept locally. Hopefully that should fix this issue :)

[2017-03-29 06:05] #38 closed

[2017-03-29 06:07] #47 closed

[2017-03-30 11:40] black-snow opened #67 "Changes 2.x => 3.0"
Hey there,

thanks for pushing 3.0. Could you list the changes from 2.x to 3.0? It's a *pita* to extract the upgrade steps from the commit history.

[2017-03-30 11:42] rdpascua commented on #38
Well now i'm having the same issue but now with fs-extra.

[code]

[2017-03-30 14:05] hugosmarques opened #68 "Sign Code error"
If i use the latest version of electron-settings 3.0.6 when i try to build using electon-builder with code signin the following error occur:

Error: Command failed: codesign --sign Developer ID Application: Areal-Media, Desenvolvimento de Software Lda (5BG5D3365B) --force --keychain /var/folders/cy/whzq6h3n4xbgh3x1grvn2kd80000gn/T/electron-builder-7H9fmK/0-1.keychain /Users/hugomarques/vsts-agent-

[2017-03-30 16:44] nathanbuchar commented on #68
Hi @hugosmarques,

v3.0, being a major release, contains breaking changes from previous versions. Have you made all appropriate changes to your code to upgrade from v2 to v3? Or have you just installed the new version of electron-settings without making any modifications?

[2017-03-30 16:46] hugosmarques commented on #68
a made the necessary modifications

2017-03-30 17:44 GMT+01:00 Nathan Buchar <notifications@github.com>:

[2017-03-30 17:51] nathanbuchar commented on #67
Hey Ronald,

Certainly! Bare with me, the list is quite exhaustive. As a preface, in general the changes that were made were done so in order to reduce the complexity of the framework as a whole. For all intents and purposes, v3 is a drastically different and slimmer version of the same framework. Upgrading will likely not be easy, but I am available to help!

Here is what you need to know:

# Glo

[2017-03-30 17:51] nathanbuchar commented on #67
Let me know if you have any other questions. Happy to help!

[2017-03-30 17:57] nathanbuchar commented on #68
Try [this](http://stackoverflow.com/questions/38948926/electron-builder-code-signing-bundle-format-unrecognized-invalid-or-unsuitabl#39009450).

Electron-settings v3 requires `electron`, not the deprecated `electron-prebuilt`

[2017-03-30 18:54] #68 closed

[2017-03-30 18:57] black-snow commented on #67
That's quite a list, there ;)

Thank you very much for picking this together. I'll close this issue and leave it for documentation purpose. I won't get back to the last project I used the settings anytime soon but I will report back when I do.

[2017-03-30 18:57] #67 closed

[2017-03-30 19:07] nathanbuchar commented on #38
Hi @rdpascua,

I'm reading that [UglifyJS](https://github.com/mishoo/UglifyJS) only supports <ES5. You might want to use [UglifyJS2](https://github.com/mishoo/UglifyJS2) (same author) if you're trying to uglify ES6 code

[2017-03-31 03:15] rdpascua commented on #38
let me try using that on my next project, but what i did is I copied your code to my local project. and it works, it seems that all modules in node_modules doesnt transpile first to es5

Sent from my iPhone

On 31 Mar 2017, at 3:08 AM, Nathan Buchar <notifications@github.com<mailto:notifications@github.com>> wrote:

Hi @rdpascua<https://github.com/rdpascua>,

I'm reading that UglifyJS<https://gith

[2017-03-31 08:09] nathanbuchar opened #71 "David badge lists dependencies as "out of date""
Even though all dependencies are [up to date](https://david-dm.org/nathanbuchar/electron-settings). More information on this apparent bug [here](https://github.com/alanshaw/david-www/issues/367).

[2017-03-31 08:45] #71 closed

[2017-04-02 13:03] iamazik opened #74 "Use Array of JSON object to set() or setAll()"
Is there any way to use the array of JSON object to the `setAll()` method like the following?

[code]

[2017-04-02 21:36] nathanbuchar commented on #74
Hi @iamazik,

I'm afraid I don't understand. Are you having trouble performing the following operation?

[code]

[2017-04-02 21:43] iamazik commented on #74
Thanks @nathanbuchar , I was just curious to know if there is a way to store the data in the array of JSON object? What I really meant is I want to store the array of JSON object using the `set()` method.

[2017-04-02 21:47] nathanbuchar commented on #74
Oh, like modifying the array stored under in `"backup"`?

I'm afraid that's not possible. There's no way to access those properties directly using object dot notation as they are in an array. You will need to `get()` the value at `"backup"`, make the necessary modifications to the array, then set the value of `"backup"` to the updated array. Like so:

[code]

[2017-04-02 21:49] iamazik commented on #74
Okay, Thanks @nathanbuchar

[2017-04-02 21:59] nathanbuchar commented on #74
Let me know if you have any other questions!

[2017-04-02 21:59] #74 closed

[2017-04-03 10:04] Dexwell opened #75 "Using watch() from renderer process"
Thanks for the nice module. According to the [wiki](https://github.com/nathanbuchar/electron-settings/wiki/FAQs#can-i-use-electron-settings-in-both-the-main-and-renderer-processes), electron-settings can be used in the renderer process. Is this true for `watch()` as well?

I'm using the following code. The console doesn't log anything when I set a new `my-value` from the main process. Am I doing a

[2017-04-03 16:58] nathanbuchar commented on #75
Hmm, must have something to do with creating the watcher in the renderer process, and setting the value in the main process. Perhaps the two instances are disjointed, because `settings.watch()` [passes tests for both processes](https://github.com/nathanbuchar/electron-settings/blob/master/tests/settings.js#L188).

I can't look at this now, but I will when I get home! Thanks for flagging

[2017-04-03 22:13] nathanbuchar commented on #75
Confirmed I can reproduce this

[2017-04-03 22:29] nathanbuchar commented on #75
Ah, the problem is that the internal `_watchSettings()` method is not being called unless a `_writeSettings()` is called, meaning that if you don't do a `set()` or `delete()` in the renderer process the FS Watcher will never be triggered.

I will fix this, thanks for flagging :-)

[2017-04-03 23:11] #75 closed

[2017-04-03 23:15] nathanbuchar commented on #75
If you install `3.0.11` this issue should be fixed ✨

[2017-04-04 07:01] nathanbuchar opened #78 "Test"
Test issue please ignore

[2017-04-04 07:03] nathanbuchar commented on #78
Test comment

[2017-04-04 07:04] #78 closed

[2017-04-04 09:55] Dexwell commented on #75
It works; fantastic 🙌🏼

[2017-04-04 18:18] Dexwell commented on #75
Hey, not sure if this is related, but I may have found a bug. I think I can reproduce it like this: if the app has been inactive for a few minutes and I then set a new value which is being watched, I get the following error:

<img width="983" alt="screen shot 2017-04-04 at 20 12 09" src="https://cloud.githubusercontent.com/assets/521176/24672027/bccea022-1973-11e7-8cb7-cd3aa48c007c.png">

[2017-04-04 18:30] nathanbuchar commented on #75
This error is coming from a settings file that is somehow not valid JSON. Can you inspect `/Users/You/Application\ Support/YourApp/Settings` and tell me if the file is malformed?

[2017-04-04 18:38] Dexwell commented on #75
Yeah I did that and everything looks good. But `JSON.parse` does not seem to agree 🤔

<img width="522" alt="screen shot 2017-04-04 at 20 36 35" src="https://cloud.githubusercontent.com/assets/521176/24672903/a34fa33c-1976-11e7-8355-98ae3ef84997.png">

[2017-04-04 18:43] nathanbuchar commented on #75
Well the problem there is that the object is not a string. Can't run `JSON.parse` on an object! Would it be too much trouble to delete the settings file (`rm /Users/Doney/Application\ Support/YourApp/Settings`) and see if that fixes it? If not, it likely may have something to do with my implementation using [jsonfile](https://www.npmjs.com/package/jsonfile) directly instead of using fs-extra as a

[2017-04-04 19:05] Dexwell commented on #75
Woops, haha. I deleted the Settings file and after retracing the same steps, rather than a `JSON.parse` error the Settings file is now emptied instead. Only `{}` remains.

[2017-04-04 19:06] nathanbuchar commented on #75
Are `theme` and `remember-email` being set?

[2017-04-04 19:20] Dexwell commented on #75
At startup the defaults for these settings are set if they don't exist yet. I wait a few minutes with the app inactive, and then only change (`set`) `remember-email`. Both are removed from the Settings file. When trying to set again after the removal I get the SyntaxError again.

[2017-04-04 19:29] nathanbuchar commented on #75
This is a test script I'm running based on what you've described and I'm not running into issues:

[code]

Which after five minutes logs: `foo changed to: "new"`.

Which version of electron-settings are you using, just I can be super sure?

[2017-04-04 19:39] Dexwell commented on #75
I'm using electron-settings 3.0.13.

Note that:
- Settings are being watched in both the main and renderer processes
- The above test script doesn't take into account that the app loses focus during the waiting period

(PS: The documentation on the wiki is a bit broken at the `setAll()` part; it's included in the code block for `set()`)

[2017-04-04 19:55] nathanbuchar commented on #75
This is truly baffling. One thing electron-settings does, is if it cannot read the JSON file for whatever reason (invalid permissions, invalid JSON), it then attempts to write the file with an empty object, so that would explain the empty object you're seeing. There's something going wrong with parsing the JSON.

Is it possible that there are invisible artifacts in the strings you are `set`ing?

[2017-04-04 20:01] Dexwell commented on #75
Haha, it is. The settings are only ever set by one of these:

[code]

[2017-04-04 20:09] nathanbuchar commented on #75
Would it be possible to share your code privately with me? I'd really like to get to the bottom of this.

[2017-04-04 20:28] Dexwell commented on #75
Sure, I assume just the excerpts that deal with the settings? Would you like me to email you? I'm having trouble with consistently reproducing the issue myself.

[2017-04-04 20:33] nathanbuchar commented on #75
My gut tells me race condition, but there's no way that's possible. Everything is sync!

[Email will work](mailto:hello@nathanbuchar.com), but if you have dropbox, you can share the whole project .zip there a bit easier. If the contents are too sensitive then just the files related to settings will work. Really appreciate it

[2017-04-05 02:57] nathanbuchar commented on #75
Aha! I know what's going on. Both the main and renderer processes may be trying to access the file at the same time. The main and renderer process run on different threads, so this is possible.

I ran 10000 `set`s each on both the main and renderer processes at the same time, and sure enough I was getting `JSON.parse` errors as well as `{}`.

Wondering what a resolution for this could be…

[2017-04-05 03:03] nathanbuchar opened #81 "Parallel processes can collide during fs calls, resulting in malformed data and/or thrown errors"
The main and renderer process run in different threads, so it's possible for the main and renderer electron-settings instances to collide when accessing the file system if they attempt to read/write the file at the same time. It should be noted that this issue is not unique to any version of electron-settings, nor electron-settings itself—any framework that can run in both processes that interact

[2017-04-05 03:04] nathanbuchar commented on #75
Moved here: #81

[2017-04-05 09:21] Dexwell commented on #81
Props for finding the cause of the issue! It seems that for the time being, using `require('electron').remote.require('electron-settings')` is the best solution in version 3.0.13?

[2017-04-05 17:02] nathanbuchar commented on #81
Well this would be an issue with every version of electron-settings, and even with other similar frameworks like electron-config. But yes, requiring electron-settings via `remote` in the renderer process will certainly work.

But for a cleaner solution, I would recommend using electron-settings in only one process—namely the renderer process. From what [I've read](https://discuss.atom.io/t/electro

[2017-04-05 19:34] Dexwell commented on #81
Gotcha. Some of my settings are toggled in the app's View menu, so I would have to send a message to the BrowserWindow if a setting is changed. I was trying to avoid this by using `watch()`, so I guess by using remote I have found my preferred way of doing this :)

[2017-04-05 22:28] nathanbuchar commented on #81
You may want to check out the [`ipc`](https://electron.atom.io/docs/api/ipc-main/) module. Inter-process communication is what it's built for! :)

[2017-04-06 09:42] Dexwell commented on #81
I know :) But that's not as slick as watching settings from wherever they are changed imo.

[2017-04-10 07:31] k7sleeper commented on #50
Thanks!

[2017-04-15 14:02] iamazik opened #82 "Can I use it globally?"
Instead of importing the `electron-settings` from all the components, can I import it directly from the `main.js` file like the following?

[code]

If so, how would you call it from the single components?

[2017-04-16 10:46] iamazik commented on #82
Were able to achieve this like the following:
[code]

We can then call the `electron-settings` like the following directly from the single components:
[code]

[2017-04-16 10:46] #82 closed

[2017-04-23 20:02] callodacity commented on #81
Until a solid solution comes up, another potential fix may be:

You could use a module like [`is-electron-renderer`](https://github.com/jprichardson/is-electron-renderer) when exporting the module, and return an the main process's instance then?

Something along the lines of:

eg: `index.js`
[code]

[2017-04-23 20:46] nathanbuchar commented on #81
Yes, I have tested this in the past, but I remember running into a niche issue; can't remember what it was though. I'm going to run some tests to see if I can discover it again. So far everything seems fine using:

[code]

[code]

[code]

[code]

It appears everything is working as expected. Even if I never require electron-settings from the main process, the electron-settings instance in both ren

[2017-04-23 20:48] nathanbuchar commented on #81
I think one of my main concerns would baking

[code]

into electron-settings itself. Yes, I want to ensure the same instance is used for each process, but this seems to me to be a bit of a hacky solution and might have unexpected consequences

[2017-04-23 21:05] nathanbuchar commented on #81
Oh right… none of the renderer process tests pass. 🤔

[2017-04-23 21:54] nathanbuchar commented on #81
Done that, but all the tests for the key path watchers in the renderer process are failing. I think that was the problem I was seeing before: weird `watch` behavior.

[2017-04-23 22:30] nathanbuchar commented on #81
For some reason, when a key path watcher is defined within a renderer process, it's callback has the global context, and not the context of the SettingsObserver. This makes no sense.

[code]

[code]

[2017-04-23 23:27] callodacity commented on #81
That does indeed make no sense at all!

You explicitly bind it to the Observer [here](https://github.com/nathanbuchar/electron-settings/blob/master/lib/settings-observer.js#L55). And you definitely use [call it with the binding too](https://github.com/nathanbuchar/electron-settings/blob/master/lib/settings-observer.js#L84).

Maybe this is a Chromium / electron bug with keeping context over `ipc`?

[2017-04-24 00:28] callodacity commented on #81
I occasionally get these errors, but I can't seem to reproduce them well:

`Attempting to call a function in a renderer window that has been closed or released.`

Maybe passing it through the remote means it's not tracked by the renderer's garbage collector, and the passed object is getting cleaned up as well?

[2017-04-24 17:40] nathanbuchar commented on #81
Hmm.. Oh, did you set a key path watcher (`.watch()`) in that renderer process? It could be that if you're requiring electron-settings via `remote`, when the renderer process is terminated the electron-settings instance isn't scrapped as well because it lives in the main process. However, if you've bound a key path watcher then if that setting changes, the electron-settings instance in the main pr

[2017-04-25 11:32] k7sleeper opened #83 "Dont loose settings after externally editing"
If you change settings (i.e. by editor) so that the settings file does not contain valid JSON `electron-settings` empties the settings file :-(

I would appreciate `electron-settings` distinguishes parsing errors from file access errors!

[2017-04-25 18:03] benjam1n commented on #38
Is this still happening? I mean, seems like it is.

[code]

[2017-04-25 19:57] nathanbuchar commented on #83
I understand this could be frustrating, but the issue here is that electron-settings does not know how to recover so instead of throwing an error it instead fails silently. Whether you removed a single `{` or added a trailing comma, versus erasing a large chunk of the file, all electron-settings knows is that the JSON is invalid, and cannot self-correct it.

[2017-04-25 20:00] nathanbuchar commented on #83
One solution I can think of is to store a local cache of the settings Object and if the JSON is invalid it can replace it with the cached copy instead of wiping it.

[2017-04-25 20:09] nathanbuchar commented on #38
@benjam1n this doesn't appear to be a compile error, but as the exception message points out: the Settings file was not found.

Which version of electron-settings are you using, and are you sure that you have read/write access to that directory? In the electron-settings source code, if the file does not yet exist, it will be automatically created, so it's unlikely to me that the file could not be

[2017-04-26 07:00] k7sleeper commented on #83
Well, as far as I see `electron-settings` throws an exceptions if it's not able to write the settings file. Why not throw an exception if JSON parsing fails?

[2017-04-26 17:46] nathanbuchar commented on #83
If electron-settings were to throw an error, what good would that do? From a developer's perspective, yes it may point to a problem in the Settings file, but as long the settings file is not being edited directly with the app running, then the settings file will always be valid JSON anyway.

Especially from an end-user perspective—It would be far less jarring for data to be lost, than for an app t

[2017-04-27 06:18] k7sleeper commented on #83
I'm not sure whether I understood you right. My intention is to make my App fail gracefully if the settings contain invalid data.

My App only reads the settings. It's not required to change the settings by the App itself but by using an editor. If the service personal changes a setting it's required that the App do not start-up but fail with displaying a descriptive message. I would implement thi

[2017-05-22 12:31] black-snow commented on #47
@nathanbuchar Is this fix in the 3.x? I'm hitting errors with a changed `userData` path.

[2017-05-22 12:43] black-snow opened #84 "Different Settings file path throws error"
Error: ENOENT: no such file ...
...\Settings

[code]

I checked the path w/ `settings.file` and indeed it's not updated on `app.setPath`.

`fs.watch` has a lot of caveats - should we really rely on it? At least we must state this in the docs. Dunno if that's the origin my issue.

[2017-05-22 17:29] nathanbuchar commented on #84
You will want to require electron-settings after the `app.setPath` directive or inside of the `app.on('ready')` callback, because as soon as electron-settings is required, it caches the userDataPath at that moment

[2017-05-22 17:32] nathanbuchar commented on #84
In my apps, typically what I do is the following:

[code]

[code]

This setup ensures that application logic only follows after the app is ready.

[2017-05-22 17:33] nathanbuchar commented on #84
At this time however, I will consider adding `settings.setPath` :) I'm on vacation this week but I'll plan to add this feature in this weekend

[2017-06-04 23:30] #84 closed

[2017-06-05 10:43] black-snow commented on #84
Thanks for looking into this @nathanbuchar

Should we be more clear about what happens when the path is changed in the API docs? I'd ask myself:

*Will existing settings be copied to the new location?*
*Which settings will be saved to the new location when I call `set()`? Everything, everything that's been loaded or just what I set?*
*Will `watch()` automagically watch the new file if I change the

[2017-06-06 00:22] nathanbuchar commented on #84
Good point, I'll make a note of this. For now, to answer it here:

1. Yes
2. Just what you set
3. Yes

[2017-06-06 14:48] black-snow commented on #84
@nathanbuchar aren't 1. and 2. contradicting?

Maybe I should make it more clear:

1.) Will existing settings (i. e. file contents) be copied to the new location upon the call of `setPath()`?
-or-
2.) Will they be copied when I call `set()` and if yes what will be saved?

;)

[2017-06-06 19:06] nathanbuchar commented on #84
Whoops! Read your first statement wrong

1. **No***
2. Just what you set
3. Yes

[2017-06-13 09:33] Kreshnik opened #88 "Not being able to run package"
Hi there,

I am trying to use the electron-settings package, however, I am receiving the following error when running my script;

[code]
I am running the following npm version `5.0.3`, any hints on what the cause might be?

[2017-06-13 19:20] nathanbuchar commented on #88
I've seen this before using npm@5 and up, but with other packages. There's some weirdness and confusion surrounding the new `package-lock.json`. Try removing the `package-lock.json` file as well as the `node_modules` directory, then re-run `npm install` :)

[code]

[2017-06-15 20:04] Kreshnik commented on #88
Thanks @nathanbuchar it worked!

[2017-06-15 20:04] #88 closed

[2017-06-21 15:30] luimucar opened #89 "how can i use electron-settings in angular2?"
i am trying to import in an angular2 app but it does not work?

import { Settings} from 'electron-settings';

Any help?

[2017-06-21 17:00] nathanbuchar commented on #89
I'd be happy to help but unfortunately I'm unfamiliar with Angular. When you say that it "does not work", what do you mean exactly? Are you getting a node error?

[2017-06-21 21:50] luimucar commented on #89
Thank you nathan,

my scenario is the following: I have an angular2 app working properly in the browser. We've decided to make it work inside electron. in the process, we want the user to set an external config file. this is when I found electron-settings.

I found the problem. it was related with webpack. I just needed to include a parameter, target='electron-renderer'. In that way, when webpack

[2017-06-21 21:50] #89 closed

[2017-06-21 22:05] nathanbuchar commented on #89
Glad it worked out! Let me know if you have any other concerns :)

[2017-07-24 02:29] CptMaumau opened #90 "Windows - settings.has() throws error on first launch after install"
![image](https://user-images.githubusercontent.com/5366008/28506021-38d4bef4-7063-11e7-86d5-85879853ed44.png)

[2017-07-26 18:26] nathanbuchar commented on #90
It would appear that the settings file is not being created or is inaccessible. It looks like the Settings file is located under `C:\Users\Administrator\…`. Does your current user have proper permissions to access files located under the Administrator's account?

[2017-07-27 01:12] CptMaumau commented on #90
After looking at the Wiki I realized has was called too early, before the app is ready, and so I fixed it. You can close the issue. Thank you.

[2017-07-27 11:52] Kineolyan opened #91 "Cannot use key with . (dot) in it"
Hello everyone,

I am trying electron settings to store projects by their git url.
Unfortunately, the url - such as `git@github.com` - contains a `.`, so it is split as two parts of a key.
Would it be possible to make a version of get/set/has/delete that takes an array instead of string ?

Cheers

[2017-07-27 15:19] stavlocker opened #92 "Multiple settings files?"
Hi. Great project!
Could it be possible for us to use multiple settings files? It'd make this project ideal for me.
Thanks in advance!

[2017-07-27 19:33] nathanbuchar commented on #92
Hi @stavlocker,

I'm afraid this capability does not currently exist. So that I can get a sense of how a feature like this would be used, may I ask how multiple settings files would be ideal for your project and how having one does not work for you?

Thanks :)

[2017-07-27 19:35] nathanbuchar commented on #90
Great! Let me know if you have any other issues :)

[2017-07-27 19:35] #90 closed

[2017-07-27 19:43] nathanbuchar commented on #91
Hmm, that certainly is an interesting problem…

My first suggestion would be to avoid using such a complex string as a JSON key, but I could add an option to all accessor/mutator methods named `keyPath` which is `true` by default. Setting this to `false` would mean interpreting the first parameter as a raw string rather than a keypath. Here's an example:

[code]

What do you think?

[2017-07-28 09:43] stavlocker commented on #92
@nathanbuchar Well, an example might be saving data, and not only settings - I could have my `config.json` file to manage the configuration, and my `cupcakes.json` to save all the cupcakes a user made on my app (or any other less stupid example). It would be excellent for saving data that I may not want in my config files (sort of a mini-database if you want to think of it that way).

[2017-07-28 09:45] stavlocker commented on #91
@nathanbuchar @Kineolyan I think that there's a cleaner solution, adding support for escaping characters so you could write `\.` in your code and it would treat it as a literal dot. (and `\\` for literal backslash). It's already used in basically everything and it would feel natural.

[2017-07-28 09:47] stavlocker commented on #83
@nathanbuchar Instead of emptying the invalid file, throwing an "invalid JSON" error and not retrieving data from settings (as there is none because the file is invalid) would be a cleaner solution.

[2017-07-28 09:55] stavlocker commented on #81
Nice elegant solution, it's the one I liked the most. It's really effortless and wouldn't change existing code  drastically.

Another nice solution but it would require the developers using electron-settings to changes their code to match this solution.

Could cause unexpected behaviour if a process is trying to read the settings file over and over and another process is trying to do the same thin

[2017-07-28 11:23] Kineolyan commented on #91
Hello @stavlocker, @nathanbuchar , I suggested an array of strings because it was the solution I saw in [Moreartyjs to read data](https://github.com/moreartyjs/moreartyjs/wiki/Binding#retrieving-data) and more famously [lodash](https://lodash.com/docs/4.17.4#get).
It seemed natural to me because it was eventually what the code does [here](https://github.com/nathanbuchar/electron-settings/blob/mast

[2017-07-28 13:17] stavlocker commented on #91
Agreed.

[2017-07-28 14:21] Kineolyan commented on #91
I will try to submit a PR for this in the next day, if we are ok with the syntax.

Cheers

[2017-07-28 17:33] nathanbuchar commented on #92
I can certainly understand wanting to split data into their own files, but with electron-settings you could just scope settings within their own key or namespace, like so:

[code]

If you're still keen on having different files for each config, check out [electron-json-storage](https://github.com/electron-userland/electron-json-storage). There, each key is its own JSON file—there's no concept of "

[2017-07-28 17:39] nathanbuchar commented on #91
@Kineolyan Can you provide a code example of how this would potentially look like with electron-settings? Thanks :)

[2017-07-29 06:26] Kineolyan commented on #91
Sure.

[code]
Including both my suggestion and escaping requirement from @stavlocker.

Cheers

[2017-08-15 17:50] kontrollanten opened #94 "Add setElectron to the API"
I'm implementing e2e tests with Spectron and would like to clear all my settings before each test. When running Spectron the electron instance isn't available via `require('electron')` from Spectron, why it isn't possible to run

[code]

Would it be possible to add something like `setElectron` to the API? Then it would be:
[code]

I'm pretty new to Electron and I'm not sure that this is the right

[2017-08-17 00:43] nathanbuchar commented on #94
Why not just move the electron-settings require outside of the `beforeEach` directive?

[code]

[2017-08-17 13:14] kontrollanten commented on #94
Then I get the following error
[code]

Which comes from

[code]

[2017-08-30 22:38] LorneCurrie opened #95 "QUESTION: Setting file location via setPath()"
Hi there.

In your documentation, you mention we should not use `setPath()` to change the location of the `Setting` file, as this may have undesirable effects.  Could I change this in the case that I want the settings to be global to all users?  I am not worried about individual users have their own setting for the app.  I need the app to act and have the same setting for all user of a machine.

[2017-08-31 14:45] silyont opened #96 "Typo of wiki api document"
There is a typo in the sample code of `dispose()` function in wiki api page

[2017-09-02 04:19] nathanbuchar commented on #96
Thanks, fixed :)

[2017-09-02 04:20] #96 closed

[2017-09-02 04:21] nathanbuchar commented on #95
Hmm, in theory you could, but I think that depends on whether or not Electron has access to the root directory. You'll need to run your Electron app as the admin account, or give it admin privileges

[2017-09-02 04:22] nathanbuchar commented on #95
Closing as it is not an issue, but feel free to continue the conversation here :)

[2017-09-02 04:22] #95 closed

[2017-09-03 20:39] LorneCurrie commented on #95
Out of curiosity, what were the issues you picked up when testing with different Paths?

[2017-09-03 22:26] nathanbuchar commented on #95
I didn't run into any errors per se, that disclaimer is really there for people who don't really know what they're doing, as it's kind of a low-level setting. If I recall, that verbiage was used in the Electron docs, but it looks like it may have been removed or I'm remembering incorrectly.

Best not to change it if you don't know what it does, but in your case using a root directory seems fine :)

[2017-09-09 19:23] foreshadow opened #97 "Not working?"
Hi, I am new to electron.
No matter in main.js or renderer.js
I call `settings.set('asd', 123)`
then `setting.get('asd')` will be nothing.
The demo's get-result is `undefined` too.

Will there be a system admin/permission problem? And how to solve this?
Win7, node 6.11

[2017-09-09 19:37] foreshadow commented on #97
Now immediately `get` is working, but still not working `get` after the program exits.

[2017-09-09 19:52] foreshadow commented on #97
it's working now, my fault.

[2017-09-09 19:52] #97 closed

[2017-09-10 06:07] nathanbuchar commented on #97
:) glad you figured it out!

[2017-09-11 02:20] EmadAdly commented on #92
@nathanbuchar Maybe an unexpected error occurred while write, It may cause damage for file, also there are many possible causes for data damage. so which will cause all data to be lost.
`do not put your eggs in one basket`
So I think their separation will be logical in this case.

[2017-09-28 11:08] MajPay opened #99 "Calling Settings.has throws exception on windows when launching program for the first time after installation"
It seems the folder, where the settings should be stored does not exist when launching the program for the first time after installation on a windows machine.

I don't know, if the problem is related to electron-settings or the installation process of electron-packager.

I inspected the code of electron-settings and it seems, that the call to make sure the settings file exists, is present in has/g

[2017-09-28 11:22] MajPay commented on #99
Sorry, i found the issue. Instead of loading the Settings in the global scope of the main javascript file, you have to do it in the ready event of the electron app.

[2017-09-28 11:22] #99 closed

[2017-09-28 16:51] nathanbuchar commented on #99
Yessir!

Glad you figured it out :-)

[2017-10-16 16:16] marcoancona opened #100 "Error: EISDIR: illegal operation on a directory on LinuxMint"
One of our users is affected by the following problem on Linux Mint 18.2 Sonya. We use `electron-settings` 3.1.1 with default configuration.

[code]

[2017-10-16 18:21] nathanbuchar commented on #100
Hi @marcoancona,

as the first troubleshooting step, is your app running all electron-settings methods *within* `app.on('ready', ...)`?

For example:

[code]

[code]

[2017-10-17 08:44] marcoancona commented on #100
Oh, this might indeed be the issue. I would put a note about this requirements in the main README, because many might not reach the FAQs given that the API is quite self-explanatory.

[2017-10-17 17:30] nathanbuchar commented on #100
I totally agree!

[2017-10-25 21:16] nathanbuchar commented on #100
I'm going to mark this as complete. If you're still seeing problems, let me know

[2017-10-25 21:16] #100 closed

[2017-10-30 10:55] nrlquaker opened #102 "Not possible to prettify json when using get with default value"
Maybe add options?

[2017-10-30 20:00] nathanbuchar commented on #102
Good point! I'll add this in in the coming days.

[2017-11-05 03:50] #102 closed

[2017-11-13 02:17] hanxue opened #104 "Unexpected token in JSON"
I get JSON parsing error when using `.has()` or `.getAll()`

[code]

The settings file is entirely created by `electron-settings`. I have made sure of this by deleting the `app.getPath()/AppName/Settings` file.

My app initialisation code has this

[code]

This is the JSON Settings file content
[code]

Writing settings has no problem, for example `settings.set('questBackend.port', value)`

[2017-11-13 03:20] nathanbuchar commented on #104
Likely a result of #81. Are you running electron-settings in the server and renderer process?

[2018-04-04 03:52] hql287 commented on #94
I'm also encountering this issue!

[2018-04-27 13:47] utillity opened #106 "import fails in unit-test environment"
`  ● Test suite failed to run
    TypeError: Cannot read property 'app' of undefined
      1 | import * as Settings from 'electron-settings';
      at Object.<anonymous> (node_modules/electron-settings/lib/settings.js:26:44)
      at Object.<anonymous> (node_modules/electron-settings/index.js:10:18)
      at Object.<anonymous> (src/common/ProfileService.ts:3:18)
`

this module should not crash on

[2018-05-07 12:39] mike-zipit commented on #95
OK, here's the gotcha:

* You must use setPath both in the main process and the renderer process
* You must use *_one_* instance of settings in the renderer.

So, my saga starts when I did the following in my main process:

    const settings = require('electron-settings');
    settings.clearPath().setPath(process.cwd() + '/Emulator.json');

And, throughout my renderer, I was using:

    const set

[2018-05-17 04:00] #106 closed

[2018-07-20 16:20] ifrias-fuze opened #109 "Encrypt settings file"
Hi,

Is there any option or way to encrypt the settings file ?

[2018-07-20 17:44] nathanbuchar commented on #109
Hi @ifrias-fuze,

Not at the moment, but you're not the first to ask. I'll keep this in mind for the future :)

[2018-07-20 17:44] #109 closed

[2018-08-29 07:33] jaruba opened #110 "Lost Settings on Unexpected Shutdowns"
I have an issue with the current PC where it just restarts randomly sometimes. Every time it happens, if the app that uses this module is running, the entirety of the db from `electron-settings` gets completely wiped out.

Is my assumption that this cannot be corrected and I should look for a "more persistent" db solution correct?

[2018-08-30 20:05] akatrukhin commented on #89
I did [repo](https://github.com/akatrukhin/angular-electron) where is added electron-settings to Angular CLI

[2018-08-31 20:39] nathanbuchar commented on #110
If your computer restarts in the middle of a write, then the Electron Settings file may become corrupted. If when Electron Settings tries to read the settings file and it's corrupted, it has no other choice than to abort and start from scratch.

In theory I could reimplement atomic saving to help mitigate this kind of behavior. I used to have it but I guess in a rewrite I must have missed it. I'll

[2018-09-01 08:26] jaruba commented on #110
Well this is interesting, it doesn't really seem like an "if" scenario, with an experience of tens of random restarts, it wiped out the data in 100% of the cases.

I can easily test that with my current scenario.

[2018-09-03 01:00] jaruba commented on #110
You were right, I implemented atomic save in `electron-settings` with:
- these changes in `jsonfile`: https://github.com/jprichardson/node-jsonfile/pull/108/files
- these changes in `electron-settings`: https://github.com/jaruba/electron-settings/commit/7b7b0f2b0b99d762f3193ec08bf3de04cf530835

And it fixed the issue. If the PR goes through at `jsonfile` and you have no issues with the changes mad

[2018-09-03 19:35] jaruba commented on #110
They dropped the PR: https://github.com/jprichardson/node-jsonfile/pull/108

It doesn't surprise me.. i'll make a new project `atomic-jsonfile` as per their suggestion, you're welcome to use if for this purpose if you wish to.

I'll share the link as soon as I have one.

[2018-09-04 17:52] nathanbuchar commented on #110
Already working on a v4 at the moment which will use [`write-file-atomic`](https://www.npmjs.com/package/write-file-atomic). Stay tuned :)

[2018-09-04 18:03] jaruba commented on #110
Even better. I'm used to project authors disappearing silently into the night, so i usually take shit into my own hands..

[2018-09-24 17:57] marcoancona commented on #110
Not sure if it is related but I also experience sudden (and apparently random) loss of all settings.
Initially we though this was because we were using the library from both the main and renderer process, but when we fixed that, although less frequently, we got reports from users that the problem persists.

[2018-09-24 18:14] nathanbuchar commented on #110
Currently working on a much more robust version w/ fault detection atomic saving :) This should eliminate the issue of collisions due to using electron settings in multiple processes as well as unexpected data loss

[2018-09-26 07:52] jaruba commented on #110
@nathanbuchar

When i tested with atomic saving, it wasn't perfect.

As in, if i had my app running for 3 days straight, then got an unexpected shutdown, it wouldn't delete the entirety of the settings like it used to, but it would remove all the data since the last app start (in this example's case, 3 days of unsaved data)

[2018-09-26 07:54] jaruba commented on #110
Don't get me wrong, it's still much better, but far from a perfect scenario too. At least in my case where my app runs on start-up.

[2018-09-26 18:30] nathanbuchar commented on #110
In this case, do you think it actually have something to do with Electron and your OS? Perhaps try another settings manager, like electron-json-storage or electron-config and see if you see similar issues

[2018-09-27 04:55] jaruba commented on #110
My OS is Windows 10, not sure if this is OS specific, it kind of feels like electron-settings is keeping all changes in memory and only saving to file on app close.

If my presumption is true though, it would be awesome if we could also save manually. As I could make it save on a 60 min interval.

[2018-09-27 06:05] nathanbuchar commented on #110
@jaruba I definitely did not write in a hook that would do that, but that was my thinking as well.

And unfortunately it's not ~possible~ feasible to keep a local copy of the settings and then save the settings every so often, unless run Electron Settings within a single thread (e.g., only in the main process, or only in a single renderer process). Since processes don't share memory, you would end

[2018-09-30 15:56] marcoancona commented on #110
Looking forward to try v4. Is the release coming soon? I was looking at the changes of this version and one change in particular popped out. Why the tool is not a singleton anymore but you need to use `new ElectronSettings()` everytime?

[2018-10-01 01:39] nathanbuchar commented on #110
@marcoancona,

Yeah there were a couple reasons for this. For one, it's a lot easier to specify the Electron Settings options (of which there are more). Things like the encryption key, encryption algorithm, file name, save directory, whether to disable atomic saving or not, whether to prettify that output or not, etc. These kind of options would be a pain to specify on every `set` call, so it just

[2018-10-02 08:54] marcoancona commented on #110
Wait, how can I pass this instance around between different modules?
Right now I have a `const settings = require('electron-settings')` in every .js file where I need to access those settings. I can create an instance of `ElectronSettings` in each module, but seems not to be the best way to go.
Otherwise I would have to create my own settings module wrapper, where I instantiate ElectronSettings on

[2018-10-02 09:14] marcoancona commented on #110
Oh, btw, I might have understood why I still loose settings every now and then.

I am using `const settings = require('electron-settings')` everywhere in the main process. This is fine, I will have a single instance of the Settings class anyway because of [caching](https://medium.com/@lazlojuly/are-node-js-modules-singletons-764ae97519af).
Now the problem is that in the renderer process, I have `c

[2018-10-02 09:31] marcoancona commented on #110
One more feedback for v4. Instead of `set()` and `setSync()`, why not calling them `setAsync()` and `set()`. This would make it back-compatible, wouldn't it?

[2018-10-02 19:12] nathanbuchar commented on #110
@marcoancona It would be more inline with older versions of Electron Settings, you're right. However, this is a new major version, so backwards compatibility is not an issue, but you're right it would be different and it would outdate any tutorials that use electron settings.

I considered using sync by default and having an `xAsync` alternative, but that's just not the standard practice for Node.

[2018-11-14 14:37] kkitay opened #111 "After new install, users get ENOENT: No Such File on /Users/user/Library/Application Support/appname/Settings"
<img width="532" alt="screen shot 2018-11-14 at 9 20 11 am" src="https://user-images.githubusercontent.com/1082318/48489243-999a6580-e7f0-11e8-9270-b5b99c57cf02.png">

one users had Mac OS 10.10 and I'm finding out about the other. This only happens to users installing for the first time. I feel like this is an electron-settings bug, and needs to create the directory before trying to save.

My rep

[2018-11-17 16:30] kkitay commented on #111
I found that this issue https://github.com/nathanbuchar/electron-settings/issues/84 had the answer to my problem: I was requiring a file that required electron-settings outside of the `app.on('ready')` callback. After moving it all in, things are working fine.

[2018-11-17 16:30] #111 closed

[2018-11-18 19:46] nathanbuchar commented on #111
Glad to hear you figured it out :)

[2019-01-13 23:02] danielnashnz opened #112 "(minor) API Documentation: options param is missing for .get()"
The .get() method seems to allow a third param of options (handy to retaining prettification), but this isn't documented. I am not sure if this applies to .getAll().

[2019-02-15 01:28] semireg commented on #81
This issue really bit me. I sprinkled calls to settings throughout main and multiple renderer processes in a multi-document app. It took me half a day to refactor all calls to main, only. The solution for me was to leverage my existing state management pattern: redux, immutable.js, and electron-better-ipc. I wish the README of this project warned about concurrent access. It really would have saved

[2019-03-05 09:53] kevinelliott commented on #81
I have also had a lot of pain here and don't have a great solution. In the renderer where do we define the `require('electron').remote.require('electron-settings')`? In `mounted()`? Or at the top with the rest of the imports?

[2019-04-12 11:57] mbykov opened #113 "time delay in .get() ?"
.get() does not work for me.

let state = settings.get('state')
log('STATE', state)
gives {},

end when I click on it, shows correct values. But

log('FOO', state.foo) gives undefined, and
let foo = settings.get('state.foo') gives undefined

Linux, Electron 4.1.1, "electron-settings": "^3.2.0"

[2019-04-12 22:43] nathanbuchar commented on #113
Electron Settings is synchronous, so there shouldn't be any race conditions here. Can you run the following for me and tell me the output?

[code]

Thanks :)

[2019-04-12 22:45] nathanbuchar commented on #113
Oh I see, you're accessing `state` as if it were dynamic. The value of `state` will NOT change if you update settings via `settings.set()`. It's not an internal cache, it reads it from the settings file on disk. If you update the settings, you need to do `settings.get()`.

[2019-04-13 08:57] mbykov commented on #113
But how I should do set, then get?

  console.log('get_test',settings.get('_test'));
  settings.set('_test', { foo: 'bar' });
  console.log('get_test', settings.get('_test'));
  console.log('get_test2', settings.get('_test'));
  settings.delete('_test');
  console.log('get_test', settings.get('_test'));

Now I've got, I already click on second {}  - see picture also

get_test undefined
get_test {}

[2019-04-13 09:04] mbykov commented on #113
Oh, I see. I can not use E.S. as internal cache at all, only after restart. Well, ok, thank you!

[2019-04-14 05:45] #113 closed

[2019-04-23 16:50] wilburforce83 opened #114 "Possible Bug? Or perhaps I am misusing"
Hi There, I'm not sure if this is a bug, or just something I am messing up.

If I set an object in an array that has other objects, it over-writes the whole array:

[code]

If I then want to change `item1` independently from the others:

[code]

The array now reads: `{"example":{"item1":25}}`

I.e. it has literally set the array as per my request, rather than ignored `item2 ` and `item3`. I have r

[2019-04-25 18:29] nathanbuchar commented on #114
Electron settings won't merge. If you set a property, the value you provide will be the new value, it won't be merged with the existing value.

Here's how you update `item1` while preserving `item2` and `item3`. Use keypaths! :)

[code]

[code]

[2019-04-25 18:31] nathanbuchar commented on #114
Feel free to re-open if this doesn't solve your issue

[2019-04-25 18:31] #114 closed

[2019-04-25 18:51] wilburforce83 commented on #114
Ah perfect! Thank you so much. I am sure you can tell, but I am quite new
to JS and this has helped me no end!

On Thu, Apr 25, 2019, 7:29 PM Nathan Buchar <notifications@github.com>
wrote:

[2019-05-16 20:23] tobias-klein opened #115 "Loading arrays of objects does not work"
When loading an array of objects, the resulting array only has 1 item even if the source has more items. Saving an array of objects works as expected.

[2019-05-17 11:36] tobias-klein commented on #115
I found that the problem was not on the side of electron-settings, but in the way the API was used in my application.

[2019-05-17 11:37] tobias-klein commented on #115
Closing this based on my previous comment.

[2019-05-17 11:37] #115 closed

[2019-05-23 17:23] pashvin opened #116 "Exception while reading setting on fresh system first time"
I have code to read setting on startup
line 25: let lang = settings.get('lang') ? settings.get('lang') : navigatorLang;
For fresh machine , when I start app first time , I see exception.
Second time I start app and everything is fine.

I am using Electron 4.x and electron-settings 3.2.0

![image](https://user-images.githubusercontent.com/36708072/58272921-71ae3080-7d44-11e9-9e5c-9b0c056c8853.png)

[2019-06-03 07:05] wilburforce83 commented on #92
I know this is super old, but if anyone else needs this, I have gone for creating a backup after and before critical changes are made in the application. I then have a simple function which looks for setting on startup, if they are not there, then copy this file in place of setting and voila, setting are back :) :

[code]

[2019-06-03 12:08] wilburforce83 opened #117 "HELP Request on an undocumented setting.set() implementation"
@nathanbuchar

Hi there, I was wondering if you could help me. I am using electron setting on a project, and I really like it! I am now trying to allow my users to save a number of settings to a file, to be loaded later.

I am currently just testing the procedure (saving all, then loading all) to prove it, then I will filter down to the settings I want) and can't work out to write properly back to

[2019-06-03 13:54] wilburforce83 commented on #117
I guess the TLDR for this would be is there a way to set a setting with a variable, something like this:

`var setting = " 'duration.duration', 't' ";` where setting might be a for loop with multiple different settings stored in an external file.

Then;
`settings.set(setting);`

Then;

`settings.get('duration.duration') // returns 't'`

[2019-06-03 15:28] wilburforce83 commented on #117
My gut feeling is that this should work, but it's not?
![image](https://user-images.githubusercontent.com/17556774/58813688-34874f80-861c-11e9-958b-cf1fdd26fdcb.png)

Console.log:
![image](https://user-images.githubusercontent.com/17556774/58813739-4a951000-861c-11e9-9de2-769b8a731901.png)

Manually copying the console.log text and doing settings.set( pasted bits) works fine in dev console. I am g

[2019-06-03 21:13] wilburforce83 commented on #117
JSON error with escapes......silly me! For anyone in the future as stupid as me

`str.replace(/^"(.+(?="$))"$/, '$1');`

[2019-06-03 21:13] #117 closed

[2019-06-07 11:08] ramaralo commented on #116
I'm having the same issue. MAC and WIN.

@pashvin Did you get to any conclusion/workaround meanwhile?

[2019-06-11 09:36] ramaralo commented on #116
To reproduce, just delete the app dir that contains the `Settings` file.

Run the app again, and the error occurs.

[2019-06-11 10:02] pashvin commented on #116
I just added try catch on the first call of this npm module.

[2019-06-11 10:36] ramaralo commented on #116
Well, are you calling the settings module before the `app.ready` event?
If so, that may be the cause.

It was on my case. The settings assumes the app folder is created by the time you call it. And folder isn't created until `app.ready` event is fired.

`app.on('ready', () => {
// call settings here
})`

So this is not a `settings` issue for me.

Thanks.

[2019-07-18 07:40] JustMe69 opened #118 "can't read settings in new window"
I'm new to electron and electron-settings.
maybe i's misunderstanding or wrong using.

my app starts with main.js. In there I start the main-App window in which I set some settings.
With console log I can see them printed. The Settings file exits. I use default path %APPDAT%, no special path defined.

Settings-content:
[code]

I open a new browser window from main.js and try to read the settings.

[2019-07-18 08:54] JustMe69 commented on #118
just forget it - my faults - is working ;)

[2019-07-18 08:54] #118 closed

[2019-07-18 23:52] nathanbuchar commented on #118
Glad you figured it out :-)

[2019-07-25 06:57] mubaidr opened #119 "`content.replace is not a function ` inside renderer script"
I get following error trying to use this library in the renderer process.

[code]

System & version information:
![Capture](https://user-images.githubusercontent.com/2222702/61852526-8c00a980-ae6e-11e9-85e8-a5d1f6845abd.PNG)

Any idea what could be wrong?

[2019-07-25 18:03] nathanbuchar commented on #119
I use `jsonfile` to read the settings file and parse it as JSON. It looks like it fails on this line:

https://github.com/jprichardson/node-jsonfile/blob/master/index.js#L126

Can you look at your settings file (`C:\Users\minion\AppData\Roaming\Electron\Settings`) and confirm that it's not corrupted and encoded correctly (UTF8)? Does it look like regular JSON?

[2019-07-26 01:47] mubaidr commented on #119
It has `{} ` as content, which is fine i guess since no settings have been saved yet.

[2019-07-26 21:40] nathanbuchar commented on #119
Yeah that's perfectly valid. Strange, I haven't seen this issue come up before. Can you delete the `Settings` file and let the framework generate a new one in case for whatever reason that file is corrupted in some way?

[2019-08-08 04:33] yikuo123 opened #120 "callback is not called when "watch()", if the given key path is newly added"
It works if the key path already exists

[2019-09-07 16:09] #119 closed

[2019-09-20 00:27] ashleydavis commented on #110
@nathanbuchar what's the status of this issue?

I'm getting the problem as well and it seem to lose my settings much more frequently since I just added support for multiple windows to my Electron application.

[2019-09-20 08:55] jaruba commented on #110
I had to overengineer this in my app.. thing is, in my case, it's a torrent client, so it updates the json file frequently (to update download / uploaded of items, etc.)

I came to the conclusion that the frequent updating (writing to file) increased the chances (although it seems to always happen) to write exactly when the PC would crash or shut down unexpectedly, resulting in a total wipe. Atomi

[2019-09-20 08:56] jaruba commented on #110
Also, to note, I've tested many other json db modules, they all have the exact same issue.

[2019-09-20 21:57] ashleydavis commented on #110
I've actually created my own simple settings code now. This problem became unavoidable. Turned out to be simple to replace for my own needs.

It uses Electron IPC to transfer settings between main process and renderer process. In my system only the main process is allowed to write the JSON file. That solves the issue of main and renderer fighting to control the file. So a renderer can change a set

[2019-09-27 22:20] nathanbuchar commented on #110
@ashleydavis this is a great solution. As for where I am with "v4", I look at the code from time to time and make changes but I haven't found myself satisfied enough to publish it, but I think @ashleydavis' solution might be just the key I'm looking for. I'm not going to commit to a timeline, but I am aware that this is an ongoing issue and I would like to eventually get a seamless fix published

[2019-09-27 22:48] ashleydavis commented on #110
Good luck @nathanbuchar, this is a good library and I hope you get it sorted out.

[2019-10-21 19:56] pashvin commented on #116
Yes my code is called after app read but try catch workaround works for me.

[2019-10-21 19:56] #116 closed

[2019-11-07 16:29] nathanbuchar commented on #110
@ashleydavis could you share your cod eon GitHub? Been a while since I've done Electron work, a starting point for how you handled the IPC would be greatly appreciated :)

[2020-01-23 17:38] 2called-chaos commented on #81
Got also bitten and just wanted to share my solution (notably the watch solution). This is my first electron project so it might be a bad way of doing things (especially using synchronous ipc but I couldn't bother to promise everything) but you can let me know, maybe it helps someone :)

[class in main](https://github.com/2called-chaos/shadowplay-highlight-helper/blob/49232314850796be7c3525e820fa3

[2020-01-24 11:33] topstreamapp commented on #110
@nathanbuchar this issue makes my application users really unhappy. I'm recieveing messages about "lost settings" every week.
Already implemented backup and restore buttons, but it makes no sense, cause too many people are  losing their settings.

[2020-03-04 19:00] Dahkenangnon opened #123 "electron-settings not found"
I'm coding an electron app with Vue-Cli Electron builder from here :   https://nklayman.github.io/vue-cli-plugin-electron-builder/

I'd install electron-settings but when i build the production version of the app it can't run properly due to an error with this error:

`Uncaught Error: Cannot find module 'electron-settings'
`

I use `"electron-settings": "^3.2.0",`

Thank for any idea to fix it

[2020-03-07 05:51] jasonraimondi commented on #123
@Dahkenangnon Make sure you included electron-settings in the "dependencies" section of your `package.json` file, **NOT the devDependencies**.

[2020-03-07 08:34] Dahkenangnon commented on #123
Oh yes, thank you.
it works now after i moved "electron-settings" under "dependencies".

Thank you very much @jasonraimondi

[2020-03-07 08:34] #123 closed

[2020-03-07 17:51] jasonraimondi commented on #123
Glad I was able to help, cheers!

[2020-03-19 01:53] semireg commented on #110
Will v4 ever be released? After what seemed like no issues for a few releases I just started getting `Unexpected end of JSON input` from Windows users.

[2020-04-02 04:40] camhart opened #124 "Values clear on app start (Mac OS Yosemite)"
I'm testing my app on Mac OS Yosemite, and it appears the values all get cleared each time the app starts.  No errors thrown or anything, the file just gets shrunk down to {} no matter what.

[2020-04-29 22:09] Ishaangandhi opened #125 "App update"
How are settings saved? If an app is updated via (electron-updater)[https://www.npmjs.com/package/electron-updater], will electron-settings still have access to the settings?

[2020-05-25 07:59] nathanbuchar commented on #125
Hi @Ishaangandhi! The settings are saved in the app's user data directory on the user's machine. For macOS, this would be something like `~/Library/Application\ Support/<Your App>`. If you app is pushed an update, the settings will persist :)

[2020-05-25 07:59] #125 closed

[2020-06-05 07:36] AlbanMinassian opened #127 "update npm repository with version 4.0.0 !"
today 2020-06-05 ``npm install electron-settings`` => electron-settings@3.2.0
expect electron-settings@4.0.0

Have you plan to upate npm registry ?

Thank

[2020-06-05 07:37] AlbanMinassian commented on #127
``https://github.com/nathanbuchar/electron-settings`` install empty directory !!!

[2020-06-07 19:03] nathanbuchar commented on #127
Hey @AlbanMinassian, I was just waiting a few days in case there was anything I wanted to change before publishing. v4 was just published!

[2020-06-07 19:03] #127 closed

[2020-06-07 19:09] nathanbuchar commented on #112
Closing this as it pertains to an older version of Electron Settings. A new major release (v4) of Electron Settings was just released!

[2020-06-07 19:09] #112 closed

[2020-06-07 19:10] nathanbuchar commented on #94
Closing this as it pertains to an older version of Electron Settings. A new major release (v4) of Electron Settings was just released! Electron Settings v4 does have support to define a custom electron instance via `configure()`.

[2020-06-07 19:10] #94 closed

[2020-06-07 19:11] nathanbuchar commented on #83
Closing this as it pertains to an older version of Electron Settings. A new major release (v4) of Electron Settings was just released!

[2020-06-07 19:11] #83 closed

[2020-06-07 19:12] nathanbuchar commented on #81
Closing this as it pertains to an older version of Electron Settings. A new major release (v4) of Electron Settings was just released! This new version should be much more reliable

[2020-06-07 19:12] #81 closed

[2020-06-07 19:13] nathanbuchar commented on #104
Closing this as it pertains to an older version of Electron Settings. A new major release (v4) of Electron Settings was just released!

[2020-06-07 19:13] #104 closed

[2020-06-07 19:13] nathanbuchar commented on #110
Closing this as it pertains to an older version of Electron Settings. A new major release (v4) of Electron Settings was just released!

[2020-06-07 19:13] #110 closed

[2020-06-07 19:13] nathanbuchar commented on #120
Closing this as it pertains to an older version of Electron Settings. A new major release (v4) of Electron Settings was just released!

[2020-06-07 19:13] #120 closed

[2020-06-07 19:13] nathanbuchar commented on #124
Closing this as it pertains to an older version of Electron Settings. A new major release (v4) of Electron Settings was just released!

[2020-06-07 19:13] #124 closed

[2020-06-07 22:26] nathanbuchar commented on #91
Electron Settings v4 will support key paths with dots in them! Under the hood, the new version of Electron Settings uses a few of lodash collection methods, which do support key paths with dots. Just pass an array of keys, like so:

[code]

[2020-06-07 22:26] #91 closed

[2020-06-08 08:35] AlbanMinassian commented on #127
Thank you

[2020-06-16 20:29] travisjames opened #128 "Peer Dependency Electron"
After update to v4, npm keeps throwing the following error, even with electron installed:

[2020-06-19 18:54] nathanbuchar commented on #128
Whoops, I was accidentally too explicit with the version. I should have used `">= 3"`. I'll fix this later today. Sorry bout that, and thank you so much for flagging!

[2020-06-20 06:13] #128 closed

[2020-06-24 17:23] tangb opened #129 "Invalid application name"
Hello

I'm using this library for a while now and decided to update to latest version and now it seems electron-settings can't find my application name like before. It uses instead "Electron" that is not corresponding to my package.json name field.

I tried to find a way to force it and find getElectron try to use "electron" instance forced in config but with typescript it seems I can't find an El

[2020-06-25 09:05] DManstrator opened #130 "UnhandledPromiseRejectionWarning: TypeError: settings.anyMethod is not a function"
Hello,

I'm currently updating Electron Settings from 3.2.0 to 4.0.1 and I got many issues. I was able to update my codebase based on the docs but when I'm trying to call any method, I get that UnhandledPromiseRejectionWarning telling me something is not a function where it should be.

Part of my code:
[code]
Full output (example):
[code]

I think I made a tiny mistake but I'm not able to figure o

[2020-06-25 19:08] mferris77 commented on #130
I'm having the same issue - for one, if I try to use 'import' I get an error in my main.js file.  If I try to instead 'require' it, I get the same set of errors as above.

[2020-06-26 21:25] nathanbuchar commented on #130
Thanks for the notes all, I'll take a look this weekend!

[2020-06-27 22:04] nathanbuchar commented on #130
Ah, looks like this is exporting a `default` object. The export target is wrong, whoops! Fixing now

[2020-06-27 22:38] nathanbuchar commented on #129
Hey @tangb! Thanks for using electron-settings :) Can you show me some of your code so that I can better understand what might be going on? Thanks!

[2020-06-27 22:51] nathanbuchar commented on #130
Should be now fixed in v4.0.2!

[2020-06-27 22:51] #130 closed

[2020-06-28 09:48] tangb commented on #129
Hi, thank you for answered me ;-)

You will find here the main file of my project in which I instanciate electron-settings: https://github.com/tangb/cleep-desktop/blob/typescript/cleepdesktop.ts

On this branch, I only migrate functions with breaking changes (XXXsync). The code is the same that it was using electron-settings v3.0.2

Thank you again for your help

[2020-06-29 06:40] DManstrator commented on #130
Thanks for the quick response, works like a charm right now! :)

[2020-06-29 19:23] nathanbuchar commented on #130
Beautiful, thanks for following up

[2020-07-01 06:11] nathanbuchar commented on #129
So if I'm understanding correctly, when you say electron-settings can't find the name of your application, is it that electron-settings is erroneously saving the data to `~/Library/Application Support/Electron` (macOS) instead of say `~/Library/Application Support/cleepdesktop`?

[2020-07-01 07:15] tangb commented on #129
Yes it is exactly my problem.

It worked with previous version and I find nothing about breaking changes on that. And I tryed to find a way to force the last part of the path (cleepdesktop instead of Electron) without success 😢

[2020-07-01 17:54] nathanbuchar commented on #129
What do you get if you `console.log(electron.app.getPath('userData'))` between [lines 60 and 61](https://github.com/tangb/cleep-desktop/blob/typescript/cleepdesktop.ts#L60-L61)?

[2020-07-01 18:06] tangb commented on #129
I got `C:\Users\tang\AppData\Roaming\Electron`

[2020-07-01 19:46] tangb commented on #129
I got the same result `C:\Users\tang\AppData\Roaming\Electron` using this piece of code:
[code]

[2020-07-01 20:03] nathanbuchar commented on #129
So it looks like the user data path for your app is returning `C:\Users\tang\AppData\Roaming\Electron` instead of `C:\Users\tang\AppData\Roaming\cleepdesktop` as you might expect. This is all happening outside of electron-settings control, and all electron-settings is doing is saving the settings file to where the app says it should (in this case, `C:\Users\tang\AppData\Roaming\Electron`.

For now

[2020-07-01 20:03] #129 closed

[2020-07-01 20:18] tangb commented on #129
Ok so if I can sum up what you said the problem comes from electron that does not return the correct path.
I will try to find a solution

Anyway thank you a lot for your investigations and your help ;-)

[2020-09-16 10:30] theArina opened #133 "Cannot read property 'app' of undefined"
Electron version: 10.0.0
Electron-settings version: 4.0.2
Platform: Windows 10

This function of the source depends on the "remote" module which is deprecated. In the new versions of the Electron it will be removed afaik.

[code]

[2020-09-16 17:01] mathieupothier commented on #133
I have the same issue on electron 10.x
Using 9.x works for now as a workaround

[2020-09-16 17:17] theArina commented on #133
@mathieupothier, have you tried to set the `enableRemoteModule` to true in 10x? as a workaround. cause i tried this just now, but it doesn't seems to work, that's weird.

[2020-09-16 18:10] mathieupothier commented on #133
I tested it in the past and it did not work back then. Got to try it again since you asked and I spotted an error on my end.

The enableRemoteModule: true needs to be in webPreferences: {}

Was:
`new BrowserWindow({
enableRemoteModule: true
});`

Needed to be:
`new BrowserWindow({
webPreferences: {
enableRemoteModule: true
}});`

Now it works perfectly. So unless it's the same for you, it seems to

[2020-09-16 18:43] theArina commented on #133
@mathieupothier, yes, thank you for the tip. It works for me too with the flag inside `webPreferences`.
Might make a fork later to avoid using `remote` at all though.

[2020-09-21 17:01] appurist commented on #110
I've upgraded to electron-settings 4.x and indeed plenty of breaking changes, none of which seem documented anywhere in the  2.5 years since this comment. I've been googling and _this Issue_ is the closest thing I've found to any form of confirmation or documentation of the breaking changes in 4.x. There aren't even any release notes with the 4.0.0 upgrade (or _any_ electron-settings releases). No

[2020-09-30 22:10] ckissi commented on #133
thanks. It works!

[2020-10-02 04:40] nathanbuchar commented on #133
Hey thanks for the solution! I'll add this to the README.

[2020-10-02 04:40] #133 closed

[2020-10-02 04:50] theArina commented on #133
@nathanbuchar, no no no no, this is not a solution, this is a crutch.
well, i made a fork to avoid using the 'remote' module. it's kinda raw, but i still could make a pull request, would you like me to ?

[2020-10-02 05:22] nathanbuchar commented on #133
Sorry, I misunderstood when glancing through this issue. Yes that would be very helpful, thank you!

[2020-10-26 08:14] roggenbrot commented on #124
This happens to me also when using 4.0.2 when packaging the app with electron-builder as AppImage.

On each start the values in the file get cleared.

This happens only when bundled with electron-builder.

[2020-10-26 13:46] julianhille opened #137 "defaultValue missing in breaking changes list"
There was once a defaultValue when using `get` this has been removed and is not added at the breaking changes list.

[2020-10-31 15:57] linonetwo opened #138 "electron-settings/package.json: Unexpected end of JSON input"
[code]

[2020-10-31 15:58] linonetwo commented on #138
This is similar to https://github.com/desktop/dugite/issues/414

[2020-11-07 07:46] fatoldsun00 opened #139 "Why delete watch method on new version"
Hi,

I analyse an electron app who use 3.2 of electron-settings. I see in code use of 2 methods : watch and emit.
Correct me if i wrong, this methods are not part of the new version :  class doesn't extends of eventEmitter and watch has disappeared.

Why ? perf killer ?

Thank you for your work !

[2020-11-11 07:50] Arjan-Zuidema commented on #139
We still use an older version because of the removal of the `watch` feature.

[2020-11-13 22:21] nathanbuchar commented on #139
Hi @fatoldsun00, check out the _Reducing Complexity_ part of my [blog post](https://nathanbuchar.com/electron-settings-v4/). I'd like to stress that I did not make the decision to remove `.watch()` lightly.

[2020-11-13 22:21] #139 closed

[2020-11-14 06:34] fatoldsun00 commented on #139
Hi nathan, thank for your answer

It makes sense, that's what I was thinking

[2020-11-14 15:07] FoonkG commented on #138
Same issue here

[2020-11-16 17:01] ThibaultJousse commented on #133
Hi @nathanbuchar,
is there any update regarding the PR ? We're using electron-settings in a school project where we'll need to set enableRemoteModule to false.
Should we wait for a new release or try to use an other module ?

[2020-11-16 17:33] nathanbuchar commented on #133
@theArina thanks for bumping this. It's always been in the back of my mind, just haven't gotten around to it, for really no good reason :) I'll take care of this right now

[2020-11-18 18:03] nathanbuchar commented on #133
Looking at the PR, this fix looks a bit more involved than I was expecting. Will have to dig in a bit more, sorry about that

[2020-12-09 00:23] Ucag opened #142 "Cannot find module 'electron-settings'"
I'm working with vue and electron.
Everything goes fine in development, however, when it comes to package my app this error occurred.

[code]
I double checked that `electron-settings` is right in my package.json `dependencies` field.
I require it like this

[code]
I also have tried:
[code]
But not working....

This is my package.json
[code]

[2020-12-09 00:30] #142 closed

[2020-12-22 10:56] Mjinx commented on #137
I second that, after a bit of a head scratch realized there's no reference to defaultValue in source code even though the lodash.get does support default values. :(

[2020-12-25 17:12] theArina commented on #138
Not the same case, but i get `SyntaxError: Unexpected end of JSON input` when the settings file is empty. It's not exactly an issue, cause json files shouldn't be empty, but i would suggest to the developer adding emptiness check just in case.

[2021-01-09 01:09] CaiProgramming opened #144 "settings not setting on mac"
I don't see any errors but doesn't seem electron settings aren't saving because when I close and reopen my application on mac the saved settings are now reset.

my getting and setting functions

`export const setUser = async (user) => {
  await settings.set("SYQELUser", user.token);
  return true;
};
export const getToken = async () => {

  const user = await settings.get("SYQELUser");
  console.l

[2021-01-14 16:09] CaiProgramming commented on #144
still having this issue.

[2021-01-20 20:32] alphonse92 commented on #144
same

[2021-01-20 20:38] alphonse92 commented on #144
I figured out what is happening (at least in my case)

settings returns "/Users/a/Library/Application Support/Electron/settings.json" as currently settings location. However, I could found the settings.json on the same path as electron.app.getPath('userData') folder.

Could you update the library to use electron.app.getPath('userData') as default please?

[2021-01-20 20:50] alphonse92 commented on #144
This is my solution

<img width="587" alt="Screen Shot 2021-01-20 at 15 50 04" src="https://user-images.githubusercontent.com/18203585/105232954-2c548e80-5b37-11eb-9c15-f9e39d974918.png">

[2021-01-22 04:02] SirSonay opened #145 "Only entered set change value"
It would be good if all the entries were not gone with the "set" function, only what you entered should be updated.

Currently with each set function the current settings are deleted and only what you have in the new set function is saved.
It would be much better if the existing stuff in the config is updated only.

[2021-02-01 19:58] CaiIsProgrammer commented on #144
cool! i just decided to just use local storage for now, but ill see if this fixes it for me.

[2021-02-09 17:51] Style87 commented on #137
I actually just came here to request this feature. I've written a lot of settings.hasSync(key) ? settings.getSync(key) : defaultValue; and it would be great to change that out with settings.getSync(key, defaultValue);

[2021-02-12 18:21] #145 closed

[2021-03-10 00:46] eddietisma opened #147 "Missing dependencies in package.json"
I'm having some dependency issues with `webpack`.
[code]

[code]

I might have done something wrong on my side... But shouldn't `fs` and `path` be included in your [package.json](https://github.com/nathanbuchar/electron-settings/blob/master/package.json)?

[2021-03-10 09:18] eddietisma commented on #147
My misstake. Fixed by adding ` target: 'node'` in webpack.config. Also, these modules are already included in node-js.

[2021-03-10 09:18] #147 closed

[2021-07-23 21:03] jlatsko opened #154 "circular reference"
Getting the following compiler error

LM-test-settings-4.0/node_modules/electron-settings/dist/settings.d.ts(72,14): error TS2456: Type alias 'SettingsValue' circularly references itself.

Any idea for solving this?

Here is my tsconfig.json

{
  "compileOnSave": true,
  "files": [
    "./src/**/*.ts"
  ],
  "compilerOptions": {
    "target": "es5",
    "module": "commonjs",
    "sourceMap": true,

[2021-07-23 21:32] jlatsko commented on #154
My apologies: the above project's typescript compiler is version 3.4.2. Once I updated to 4.2.2 the compiler error no longer appeared.

[2021-07-23 21:32] #154 closed

[2021-08-17 20:36] jlatsko opened #155 "v3.2 truncates Settings file when Settings is locked by virus scanner"
When the Settings file is locked by a virus scanner we are receiving an EBusy error on Windows machines. When we attempt to retry the operation (set, get, etc) our Settings file will be truncated. We have noticed this issue on 3.2 however it appears to be fixed in the 4.0.2 release. Our problem with migrating to 4.0.2 is the missing watch functionality which we are using. Have you experienced the

[2021-10-08 01:02] tolewhite opened #156 "Unexpected token error"
I'm getting this error when I try to run my app. I'm using the latest version. 4.0.2. Any insight on what is the problem?

![image](https://user-images.githubusercontent.com/3882817/136482139-ddbf6ccb-5f54-43d7-9428-4625faf8263b.png)

[2021-10-11 18:08] ChugunovRoman opened #157 "Doesn't work with Electron 14"
Current version (`4.0.2`) of Electron-settings doesn't work with new version Electron. I use Electron `v14.1.1`
I got a error in render process:

![screenshot_2021-10-11T21:07:18](https://user-images.githubusercontent.com/20404541/136835231-452bdac7-1132-408b-853a-e5eca5d2228c.jpg)

[2021-10-21 18:51] sarathkurup87 commented on #157
same issue!!

[2021-10-26 11:59] linonetwo opened #159 "EPERM in windows, rename settings.json.2058848393 to settings.json"
Seems similar to https://github.com/nathanbuchar/electron-settings/issues/55

[code]

Maybe caused by write-file-atomic package.

[2021-10-27 04:42] #159 closed, assigned to nobody

[2021-10-27 04:43] linonetwo opened #160 "Setting file with unexped ended json"
Look at the `}}}ransparentBackground":false}}}` in the end, probably this is the result of disabling `atomicSave` in https://github.com/nathanbuchar/electron-settings/issues/159?

[2021-11-03 10:37] ramaralo commented on #157
For those still in `v.3.#`
we can workaround this by:

[code]

This will still point to the default file but because it's using a custom path, `electron-settings` won't try to use `remote` from the `electron` dependency.

[2021-11-27 02:19] jediwade commented on #157
@ChugunovRoman I am assuming you are trying to use electron-settings in the Renderer (you should provide more information in your bug reports). If you want to use the newer versions of Electron and have access to higher level APIs like remote, you need to make use of the [context isolation](https://www.electronjs.org/docs/latest/tutorial/context-isolation) feature to create a limited API that can

[2021-11-27 13:19] dmitrif commented on #133
Hi there! Just wanted to follow up on this.

[2021-12-25 18:43] vanowm commented on #139
With this logic - _if it's developers job to notify other parts of the code about changes in the settings_ - why bother with this module at all, since the developer might as well write their own settings module...

At least emit an event when a setting was been changed...

[2022-01-23 14:03] ChristophLabacher opened #162 "Sourcemap points to file not included in package"
Thank you for maintaining this package!

When using this package in a CRA 5.0 project, there is a [webpack error](https://github.com/facebook/create-react-app/discussions/11767) shown which says:

[code]

This is correct: The source map in `/electron-settings/dist` points to `../src/settings.ts`, but the `src` directory is not included in the installed package.

It would be great to either include

[2022-06-14 09:49] yujingxiacai opened #169 "windows `operation not permitted, rename ...`"
Recently, when I opened my electron-application and the program ran to store the local custom data logic, the following error was reported.( I used `electron-settings` to store)

` Error: EPERM: operation not permitted, rename 'C:\Users\yujingxiacai\AppData\Roaming\Electron\settings.json.2501025886' -> 'C:\Users\yujingxiacai\AppData\Roaming\Electron\settings.json'`